@CHARSET "UTF-8";
body{
	padding: 20px;
}
div{
	padding: 20px;
	border: solid #999 1px;
	
}
#all{
	background-color: #eee;
	overflow: auto;
}
#right{
	width: 120px;
	float: right;
	text-align: center;
	padding-bottom: 10px;
}
#right img{
	margin-bottom: 10px;
}
#center{
	margin-left: 240px;
	margin-right: 190px;
}
#left{
	width:200px;
	position: absolute;
	left: 40px;
	top: 50px;
	padding: 10px;
}
img{
	width: 80px;
	height: 80px;
}
p{
	float: left;
	margin: 0px;
}
#left img{
	float: left;
}
#team{
	border: none;
	display: inline-block;
	width: 80px;
	padding: 0px;
	text-align: center;
	position: relative;
	left: 30px;
}
#logo{
	margin: 20px;
}
